#jinja2: block_start_string: '[%', block_end_string: '%]', variable_start_string: '[[', variable_end_string: ']]'
conn [[ item.key ]]
  authby=secret
  left=[[ item.value.left_host_ip ]]
  leftid=[[ item.value.left_id ]]
  leftfirewall=yes
  right=[[ item.value.right_host_ip ]]
  rightid=[[ item.value.right_id ]]
  type=transport
  auto=route
