#jinja2: block_start_string: '[%', block_end_string: '%]', variable_start_string: '[[', variable_end_string: ']]'
conn [[ item.key ]]
  authby=secret
  left=[[ item.value.left_host ]]
  leftid=@[[ item.value.left_host ]]
  leftfirewall=yes
  right=[[ item.value.right_host ]]
  rightid=@[[ item.value.right_host ]]
  type=transport
  auto=route
