#jinja2: block_start_string: '[%', block_end_string: '%]', variable_start_string: '[[', variable_end_string: ']]'
# Secrets for authentication using CHAP
# # client        server  secret                  IP addresses
#
[[ xl2tpd_server.client_name ]]      *       [[ xl2tpd_server.client_secret ]]      *
